@model IEnumerable<MyApp.DAL.Item> 
<h1>Items</h1>

<form method="post" asp-action="Add">
    <input type="text" name="name" placeholder="New Item" />
    <button type="submit">Add</button>
</form>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>
